@page "/binding-example"
@inherits Binding_example

<p>
    <input type="text" @bind="paragraphStyle" />
</p>

<p @bind-style="paragraphStyle" @bind-style:event="onchange">
    @paragraphStyle + @para
</p>

<p>
 @paraLength
</p>
<button @onclick="ParaLength">Add todo</button>

@code{
    private string paragraphStyle = "color:red";
    private string para = "1";
    private int paraLength;

    private void ParaLength()
    {
        paraLength = paragraphStyle.Length;
    }
}