@page "/"



<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h4>Test By Direct Input</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="userInput" rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Check Readability</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            Result
        </div>
    </div>
</div>

